<section class="benefits" id="benefits">
  <div class="container">
    <h2 class="benefits-title">Benefits of working with me</h2>
    <ul class="benefits-list">
      <li class="benefit-item">
        <svg class="benefit-icon" width="48" height="48">
          <use href="./img/benefits-icon.svg#icon-Featured-icon1"></use>
        </svg>
        <h3 class="benefit-title">Expertise</h3>
        <p class="benefit-description">
          As a highly experienced developer, I have deep knowledge of
          programming and website development.
        </p>
      </li>
      <li class="benefit-item">
        <svg class="benefit-icon" width="48" height="48">
          <use href="./img/benefits-icon.svg#icon-Featured-icon2"></use>
        </svg>
        <h3 class="benefit-title">Communication</h3>
        <p class="benefit-description">
          Understanding your needs and wants is my priority and I am always open
          to discussions and corrections.
        </p>
      </li>
      <li class="benefit-item">
        <svg class="benefit-icon" width="48" height="48">
          <use href="./img/benefits-icon.svg#icon-Featured-icon3"></use>
        </svg>
        <h3 class="benefit-title">Art</h3>
        <p class="benefit-description">
          Thanks to my creative nature, I am ready to accept challenges and help
          you bring your ideas to life.
        </p>
      </li>
      <li class="benefit-item">
        <svg class="benefit-icon" width="48" height="48">
          <use href="./img/benefits-icon.svg#icon-Featured-icon4"></use>
        </svg>
        <h3 class="benefit-title">Urgent execution</h3>
        <p class="benefit-description">
          I understand how important time is to you. Ready to work quickly and
          efficiently, without reducing the quality of work.
        </p>
      </li>
    </ul>
    <a href="#work-together" class="order-project">Order the project</a>
  </div>
</section>
