<section class="covers-section" id="covers">

    <div class="cont-covers">
      <h2 class="visually-hidden">Covers</h2>

      <div class="marquee">
      <ul class="marquee__inner"> 
        <li class="marquee__line"> 
            <picture>
                <source srcset="
            ./img/covers-img/chego1x.png 1x,
            ./img/covers-img/chego2x.png 2x" />
            <img src="../img/covers-img/chego1x.png" alt="chego"/>
            </picture>
        </li>
        <li class="marquee__line">
            <picture>
            <source srcset="
            ./img/covers-img/power1x.png 1x,
            ./img/covers-img/power2x.png 2x" />
            <img src="../img/covers-img/power1x.png" alt="power"/>
            </picture>
        </li>
        <li class="marquee__line">  
            <picture>
            <source srcset="
            ./img/covers-img/energy1x.png 1x,
            ./img/covers-img/energy2x.png 2x" />
            <img src="../img/covers-img/energy1x.png" alt="energy"/>
            </picture>
        </li>
        <li class="marquee__line">
            <picture>
            <source srcset="
            ./img/covers-img/mimino1x.png 1x,
            ./img/covers-img/mimino2x.png 2x" />
            <img src="../img/covers-img/mimino1x.png" alt="mimino"/>   
            </picture>
        </li>
        <li class="marquee__line">
            <picture>
            <source srcset="
            ./img/covers-img/wallet1x.png 1x,
            ./img/covers-img/wallet2x.png 2x" />
            <img src="../img/covers-img/wallet1x.png" alt="wallet"/>
            </picture>
        </li>    
        <li class="marquee__line">
            <picture>
            <source srcset="
            ./img/covers-img/green1x.png 1x,
            ./img/covers-img/green2x.png 2x" />
            <img src="../img/covers-img/green1x.png" alt="green"/>
            </picture>
        </li>
        <li class="marquee__line">
            <picture>
            <source srcset="
            ./img/covers-img/engl1x.png 1x,
            ./img/covers-img/engl2x.png 2x" />
            <img src="../img/covers-img/engl1x.png" alt="engl"/>
            </picture>
        </li>
      </ul>  
      <ul class="marquee__inner">
        <li class="marquee__line">
            <picture>
            <source srcset="
            ./img/covers-img/mimino1x.png 1x,
            ./img/covers-img/mimino2x.png 2x" />
            <img src="../img/covers-img/mimino1x.png" alt="mimino"/>   
            </picture>
        </li>
        <li class="marquee__line">
            <picture>
            <source srcset="
            ./img/covers-img/wallet1x.png 1x,
            ./img/covers-img/wallet2x.png 2x" />
            <img src="../img/covers-img/wallet1x.png" alt="wallet"/>
            </picture>
        </li>    
        <li class="marquee__line">
            <picture>
            <source srcset="
            ./img/covers-img/green1x.png 1x,
            ./img/covers-img/green2x.png 2x" />
            <img src="../img/covers-img/green1x.png" alt="green"/>
            </picture>
        </li>
        <li class="marquee__line">
            <picture>
            <source srcset="
            ./img/covers-img/ukr1x.png 1x,
            ./img/covers-img/ukr2x.png 2x" />
            <img src="../img/covers-img/ukr1x.png" alt="ukr"/>   
            </picture>
        </li>
        <li class="marquee__line">
            <picture>
            <source srcset="
            ./img/covers-img/engl1x.png 1x,
            ./img/covers-img/engl2x.png 2x" />
            <img src="../img/covers-img/engl1x.png" alt="engl"/>
            </picture>
        </li>
        <li class="marquee__line">
            <picture>
            <source srcset="
            ./img/covers-img/fruit1x.png 1x,
            ./img/covers-img/fruit2x.png 2x" />
            <img src="../img/covers-img/fruit1x.png" alt="fruit"/> 
            </picture>
        </li>
      </ul>

      <ul class="marquee__inner">
        <li class="marquee__line">
            <picture>
            <source srcset="
            ./img/covers-img/engl1x.png 1x,
            ./img/covers-img/engl2x.png 2x" />
            <img src="../img/covers-img/engl1x.png" alt="engl"/>
            </picture>
        </li>
        <li class="marquee__line">
            <picture>
            <source srcset="
            ./img/covers-img/fruit1x.png 1x,
            ./img/covers-img/fruit2x.png 2x" />
            <img src="../img/covers-img/fruit1x.png" alt="fruit"/> 
            </picture>
        </li>
        <li class="marquee__line">
            <picture>
            <source srcset="
            ./img/covers-img/power1x.png 1x,
            ./img/covers-img/power2x.png 2x" />
            <img src="../img/covers-img/power1x.png" alt="power"/>
            </picture>
        </li>
        <li class="marquee__line">
            <picture>
            <source srcset="
            ./img/covers-img/starl1x.png 1x,
            ./img/covers-img/starlx.png 2x" />
            <img src="../img/covers-img/starl1x.png" alt="starl"/> 
            </picture>
        </li>

        <li class="marquee__line"> 
            <picture>
            <source srcset="
            ./img/covers-img/chego1x.png 1x,
            ./img/covers-img/chego2x.png 2x" />
            <img src="../img/covers-img/chego1x.png" alt="chego"/>
            </picture>
        </li>
      </ul>
      </div>
    </div>
  </section>