<header>
  <div class="header-container">
    <div class="header-profile">
      <a href="index.html" class="header-profile-link">
        <picture>
          <source
            srcset="
              ./img/work-tog/avatar-88.webp   88w,
              ./img/work-tog/avatar-132.webp 132w,
              ./img/work-tog/avatar-210.webp 210w
            "
            sizes="80px"
          />
          <img class="wt-img" src="./img/work-tog/avatar-132.webp" alt="avatar" />
        </picture>
      </a>

      <a href="index.html" class="header-name-profile">jefferson*</a>
    </div>
    <nav class="header-nav">
      <span class="header-menu-icon" id="header-menu-icon">
        <svg class="header-menu-icon-svg" 
              width="28"
              height="28" 
              viewBox="0 0 28 28" 
              fill="none" 
              xmlns="http://www.w3.org/2000/svg"
              >
        <path d="M3.5 9.91666H24.5M3.5 18.0833H24.5" 
              stroke="#FAFAFA" 
              stroke-width="2" 
              stroke-linecap="round" 
              stroke-linejoin="round" 
              />
      </svg>
    </span>

      <span class="header-menu-text" id="header-menu-text">Menu</span>
      <ul class="is-is" id="menu-list">
        <li><a href="#about-me">About me</a></li>
        <li><a href="#benefits">Benefits</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#faq">FAQ</a></li>
      </ul>
    </nav>
    <button class="header-order-button" id="order-project-button">
      Order the project
    </button>
  </div>
</header>
<div class="header-menu" id="header-menu">
  <div class="container mobile-menu-container">
    <span class="header-close-icon" id="header-close-icon">
      <svg
        class="header-close-icon-svg"
        width="28"
        height="28"
        viewBox="0 0 28 28"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M21.7071 6.29289C22.0976 6.68342 22.0976 7.31658 21.7071 7.70711L7.70711 21.7071C7.31658 22.0976 6.68342 22.0976 6.29289 21.7071C5.90237 21.3166 5.90237 20.6834 6.29289 20.2929L20.2929 6.29289C20.6834 5.90237 21.3166 5.90237 21.7071 6.29289Z"
          fill="#FAFAFA"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M6.29289 6.29289C6.68342 5.90237 7.31658 5.90237 7.70711 6.29289L21.7071 20.2929C22.0976 20.6834 22.0976 21.3166 21.7071 21.7071C21.3166 22.0976 20.6834 22.0976 20.2929 21.7071L6.29289 7.70711C5.90237 7.31658 5.90237 6.68342 6.29289 6.29289Z"
          fill="#FAFAFA"
        />
      </svg>
    </span>
    <div></div>
    <ul>
      <li><a href="#about-me">About me</a></li>
      <li><a href="#benefits">Benefits</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#faq">FAQ</a></li>
    </ul>
    <button class="header-order-button" id="order-project-button-menu">
      Order the project
    </button>
  </div>
</div>
