<section class="hero">
    <div class="container">
        <h1 class="hero-text">Hello. <br>I’m Fullstack developer Lloyd Jefferson.</h1>
        <ul class="hero-ul">
            <li class="hero-icon-li">
                <div class="link-container">
                    <a class="hero-icon-a" target="_blank" href="https://www.instagram.com/goitclub/">
                        <p class="socials">IG</p>
                    </a>
                </div>
            </li>
            <li class="hero-icon-li">
                <div class="link-container">
                    <a class="hero-icon-a" target="_blank" href="https://www.facebook.com/goITclub/">
                        <p class="socials">FB</p>
                    </a>
                </div>
            </li>
            <li class="hero-icon-li">
                <div class="link-container">
                    <a class="hero-icon-a" target="_blank" href="https://www.youtube.com/c/GoIT">
                        <p class="socials">YT</p>
                    </a>
                </div>
            </li>
            <li class="hero-icon-li">
                <div class="link-container">
                    <a class="hero-icon-a" target="_blank" href="https://github.com/SychTim/our-team-project">
                        <p class="socials">GH</p>
                    </a>
                </div>
            </li>
            <li class="hero-email">
                <div class="link-container">
                    <a class="email" href="mailto:info@devstudio.com" 
                    target="_blank"
                    rel="noopener noreferrer nofollow">lloydjefferson@gmail.com</a>
                </div>
            </li>
        </ul>
    </div>
</section>
