<section class="hero">
    <div class="container">
        <h1 class="hero-text">Hello. <br>I’m Fullstack developer Lloyd Jefferson.</h1>
        <ul class="hero-ul">
            <li>
                <a class="hero-icon-a" target="_blank" href="https://www.instagram.com/goitclub/">
                IG
                </a>
            </li>
            <li>
                <a class="hero-icon-a" target="_blank" href="https://www.facebook.com/goITclub/">
                FB
                </a>
            </li>
            <li>
                <a class="hero-icon-a" target="_blank" href="https://www.youtube.com/c/GoIT">
                YT
                </a>
            </li>
            <li>
                <a class="hero-icon-a" target="_blank" href="https://github.com/SychTim/our-team-project">
                GH
                </a>
            </li>
            <li>
                <a class="email hero-email" href="mailto:info@devstudio.com" 
                    target="_blank"
                    rel="noopener noreferrer nofollow">lloydjefferson@gmail.com
                </a>
            </li>
        </ul>
    </div>
</section>
