<section class="projects" id="projects ">
    <div class="container projects-contsiner">
        <h2 class="projects-title">Projects</h2>
        <!-- Slider main container -->
        <div class="swiper swiper-projects">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="project-main">
                        <ul class="projects-advantages-1">
                            <li class="projects-advantages-text">
                                <ul class="projects-advantages-text-language">
                                    <li class="projects-advantages-text-ITlanguage">#react</li>
                                    <li class="projects-advantages-text-ITlanguage">#js</li>
                                    <li class="projects-advantages-text-ITlanguage">#node js</li>
                                    <li class="projects-advantages-text-ITlanguage">#git</li>
                                </ul>
                                <h3 class="projects-advantages-text-title">Programming Across Borders: Ideas,
                                    Technologies,
                                    Innovations</h3>
                                <button class="projects-advantages-text-link-button">
                                    <a class="projects-advantages-text-link"
                                        href="https://github.com/SychTim/our-team-project" target="_blank">
                                        See project
                                    </a>
                                </button>
                            </li>
                            <li class="projects-advantages-img">
                                <picture>
                                    <source srcset="
                                ./img/projects/tab_deck/projects-img-slider1-desk-tab@1x.jpg 1x,
                                ./img/projects/tab_deck/projects-img-slider1-desk-tab@2x.jpg 2x
                            " media="(min-width: 768px)" />
                                    <source srcset="
                                ./img/projects/mob/projects-img-slider1-mob@1x.jpg 1x,
                                ./img/projects/mob/projects-img-slider1-mob@2x.jpg 2x
                            " media="(max-width: 767px)" />
                                    <img srcset="
                                ./img/projects/mob/projects-img-slider1-mob@1x.jpg 1x,
                                ./img/projects/mob/projects-img-slider1-mob@2x.jpg 2x
                            " src="./img/projects/mob/projects-img-slider1-mob@1x.jpg" alt="programming form"
                                        class="projects-image-form" />
                                </picture>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="project-main">
                        <ul class="projects-advantages-1">
                            <li class="projects-advantages-text">
                                <ul class="projects-advantages-text-language">
                                    <li class="projects-advantages-text-ITlanguage">#react</li>
                                    <li class="projects-advantages-text-ITlanguage">#js</li>
                                    <li class="projects-advantages-text-ITlanguage">#node js</li>
                                    <li class="projects-advantages-text-ITlanguage">#git</li>
                                </ul>
                                <h3 class="projects-advantages-text-title">Programming Across Borders: Ideas,
                                    Technologies,
                                    Innovations</h3>
                                <button class="projects-advantages-text-link-button">
                                    <a class="projects-advantages-text-link"
                                        href="https://github.com/SychTim/our-team-project" target="_blank">
                                        See project
                                    </a>
                                </button>
                            </li>
                            <li class="projects-advantages-img">
                                <picture>
                                    <source srcset="
                                                ./img/projects/tab_deck/projects-img-slider2-desk-tab@1x.jpg 1x,
                                                ./img/projects/tab_deck/projects-img-slider2-desk-tab@2x.jpg 2x
                                            " media="(min-width: 768px)" />
                                    <source srcset="
                                                ./img/projects/mob/projects-img-slider2-mob@1x.jpg 1x,
                                                ./img/projects/mob/projects-img-slider2-mob@2x.jpg 2x
                                            " media="(max-width: 767px)" />
                                    <img srcset="
                                                ./img/projects/mob/projects-img-slider2-mob@1x.jpg 1x,
                                                ./img/projects/mob/projects-img-slider2-mob@2x.jpg 2x
                                            " src="./img/projects/mob/projects-img-slider2-mob@1x.jpg"
                                        alt="programming form" class="projects-image-form" />
                                </picture>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="project-main">
                        <ul class="projects-advantages-1">
                            <li class="projects-advantages-text">
                                <ul class="projects-advantages-text-language">
                                    <li class="projects-advantages-text-ITlanguage">#react</li>
                                    <li class="projects-advantages-text-ITlanguage">#js</li>
                                    <li class="projects-advantages-text-ITlanguage">#node js</li>
                                    <li class="projects-advantages-text-ITlanguage">#git</li>
                                </ul>
                                <h3 class="projects-advantages-text-title">Programming Across Borders: Ideas,
                                    Technologies,
                                    Innovations</h3>
                                <button class="projects-advantages-text-link-button">
                                    <a class="projects-advantages-text-link"
                                        href="https://github.com/SychTim/our-team-project" target="_blank">
                                        See project
                                    </a>
                                </button>
                            </li>
                            <li class="projects-advantages-img">
                                <picture>
                                    <source srcset="
                                                ./img/projects/tab_deck/projects-img-slider3-desk-tab@1x.jpg 1x,
                                                ./img/projects/tab_deck/projects-img-slider3-desk-tab@2x.jpg 2x
                                            " media="(min-width: 768px)" />
                                    <source srcset="
                                                ./img/projects/mob/projects-img-slider3-mob@1x.jpg 1x,
                                                ./img/projects/mob/projects-img-slider3-mob@2x.jpg 2x
                                            " media="(max-width: 767px)" />
                                    <img srcset="
                                                ./img/projects/mob/projects-img-slider3-mob@1x.jpg 1x,
                                                ./img/projects/mob/projects-img-slider3-mob@2x.jpg 2x
                                            " src="./img/projects/mob/projects-img-slider3-mob@1x.jpg"
                                        alt="programming form" class="projects-image-form" />
                                </picture>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="swiper-btn">
                <!-- If we need navigation buttons -->
                <button class="swiper-button-prev js-prevPr is-dark" aria-label="Previous slide">
                    <svg aria-hidden="true" focusable="false">
                        <use href="./img/icons-reviews.svg#icon-arrow-narrow-right"></use>
                    </svg>
                </button>
                <button class="swiper-button-next js-nextPr " aria-label="Next slide">
                    <svg aria-hidden="true" focusable="false">
                        <use href="./img/icons-reviews.svg#icon-arrow-narrow-right"></use>
                    </svg>
                </button>

            </div>
        </div>
    </div>
</section>