<section class="reviews">
  <div class="container">
    <a class="title">reviews</a>
    <ul class="reviews-gallery"></ul>
    <div class="swiper-container reviews-swiper">
      <div class="swiper-wrapper"></div>

      <div class="buttons">
        <button class="button-left" aria-label="Previous slide">
          <svg aria-hidden="true" focusable="false">
            <use href="./img/icons-reviews.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
        <button class="button-right" aria-label="Next slide">
          <svg aria-hidden="true" focusable="false">
            <use href="./img/icons-reviews.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
