<section class="container">
    <h2 class="wt-title">
        <img src="" alt="">
        Let’s 
        <span class="wt_title__current">work</span>
        <br>
        together
    </h2>
    <form>
        <input class="wt-input" type="email" placeholder="clients@gmail.com">
        <input class="wt-input" type="text" placeholder="comments">
        <button type="submit">Send</button>
    </form>
    <a href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
    <a href="tel:+380 11 1111 11 11">+380 11 1111 11 11</a>
</section>