<section class="container wt-section">
    <h2 class="wt-title">
        <img class="wt-img" src="../img/image@2x.jpg" alt="">
        Let’s 
        <span class="wt_title__current">work</span>
        <br>
        together
    </h2>
    <form class="wt-form">
        <input class="wt-input" type="email" placeholder="clients@gmail.com">
        <input class="wt-input" type="text" placeholder="comments">
        <button class="wt-button" type="submit">Send</button>
    </form>
    <a class="wt-link" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
    <a class="wt-link" href="tel:+380 11 1111 11 11">+380 11 1111 11 11</a>
</section>