<section class="container wt-section" id="work-together">
    <h2 class="wt-title">
        <picture>
            <source srcset="./img/work-tog/avatar-88.webp 88w, ./img/work-tog/avatar-132.webp 132w, ./img/work-tog/avatar-210.webp 210w" 
            sizes="(min-width: 1440px) 5vw, (min-width: 768px) 9vw, 11vw">
            <img class="wt-img" 
                src="./img/work-tog/avatar-132.webp" alt="avatar">
        </picture>Let’s 
        <span class="wt_title__current">work</span>
        <br>
        together
    </h2>
    <span class="wt-supp-text">Succes!</span>
    <form class="wt-form">
        <input class="wt-input wt-input__email" type="email" name="email" placeholder="clients@gmail.com" autocomplete="off" pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$">
        <input class="wt-input" type="text" autocomplete="off" name="comment" placeholder="comments">
        <button class="wt-button" type="submit">Send</button>
    </form>
    <div class="wt-linkbox">
        <a class="wt-link" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
        <a class="wt-link" href="tel:+3801111111111">+380 11 1111 11 11</a>
    </div>
</section>
<div class="modal-backDrop is-closed">
    <div class="modal-windov">
        <button class="modal-close">
            <svg class="modal-svg">
                <use xlink:href="./img/sprite.svg#x"></use>
            </svg>
        </button>
        <h3 class="modal-title">fadfs</h3>
        <p class="modal-text">adsfasdfasc  efgvefg esg f vdf df ga aga</p>
    </div>
</div>
