.faq {
  margin-bottom: 64px;
  margin-top: 64px;
}

.faq-title {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
}

.faq-item {
  background-color: transparent;
  border-top: 1px solid rgba(250, 250, 250, 0.2);
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin-top: 0;
  padding-bottom: 4px;
}

.faq-item:last-child {
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.faq-item .faq-list-btn {
  font: inherit;
  padding: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 16px;
}
.faq-item .faq-list-btn:focus {
  color: #fafafa;
}
.faq-item .faq-list-btn::after {
  content: url(../img/arrow-down.svg);
  width: 30px;
}

.faq-item .faq-list-panel .faq-list-text {
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  padding-bottom: 20px;
}

.faq-item.is-active > .faq-list-title .faq-list-btn::after {
  content: url(../img/arrow.svg);
}

@media screen and (min-width: 768px) {
  .faq {
    margin-bottom: 96px;
    margin-top: 96px;
  }

  .faq-item {
    padding-bottom: 18px;
  }

  .faq-item .faq-list-btn {
    padding-right: 200px;
    padding-top: 32px;
    padding-bottom: 24px;
  }

  .faq-item .faq-list-btn::after {
    content: url(../img/arrow-down.svg);
    width: 40px;
    top: 60%;
  }

  .faq-item .faq-list-panel .faq-list-text {
    padding-right: 48px;
  }

  .faq-item.is-active > .faq-list-title .faq-list-btn::after {
    content: url(../img/arrow.svg);
  }
}

@media screen and (min-width: 1440px) {
  .faq {
    margin-bottom: 164px;
    margin-top: 164px;
  }

  .faq-list {
    display: flex;
    flex-wrap: wrap;
  }

  .faq-item {
    width: calc((100% / 2));
    padding-bottom: 0;
  }
  .faq-item:nth-child(2n + 1) {
    border-right: 1px solid rgba(250, 250, 250, 0.2);
    padding-right: 32px;
  }

  .faq-item:nth-child(2n) {
    padding-left: 32px;
  }

  .faq-item:nth-child(5) {
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  }

  .faq-item .faq-list-btn {
    padding-right: 60px;
    padding-bottom: 42px;
  }

  .faq-item .faq-list-btn::after {
    top: 50%;
  }
}
