.hero {
    background-image: url(../img/hero/glasseffect-t.avif);
    background-position: -250px;
    background-repeat: repeat-y;
    background-size: cover;
    background-position: left;
    background-size: 82.6vw;
}

.hero .container {
    padding: 281px 16px 32px;
    
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
        background-image: url(../img/hero/glasseffect-t@2x.avif);
    }
}
.hero-text {
    font-weight: 500;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #fafafa;
    margin: 0 auto;
    justify-content: left;
}
.hero-ul {
    display: flex;
    gap: 4px;
    flex-direction: row;
    padding-top: 212px;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    
    color: #fafafa;
}
.hero-icon-a {
    display: flex;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 50%;
    width: 37px;
    height: 37px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    transition: border-color 250ms;
}
.hero-icon-a:hover {
    border-color: #fff;
}

.hero-email {
    display: inline-block;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    padding: 10px 12px;
    height: 37px;
    font-weight: 500;
    font-size: 14px;
    transition: border-color 250ms;
}
.hero-email:hover {
    border-color: #fff;
}
.email {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #fafafa;
}

@media screen and (min-width: 768px) {
    .hero {
        background-image: url(../img/hero/glasseffect-t.avif);
        background-size: 75.6vw;
    }
    .hero .container {
        padding: 300px 32px 32px;
    }
    
    .hero-text {
        font-size: 90px;
        margin: none;
    }
    .hero-ul {
        justify-content: flex-end;
        padding: 187px 0 0;
        justify-content: right;
        margin: 0;
        gap: 8px;
    }
    .hero-icon-a {
        width: 55px;
        height: 56px;
        font-size: 16px;
    }
    .hero-email {
        border-radius: 55px;
        padding: 18px 24px;
        height: 55px;
        font-size: 16px;
    }
    @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .hero {
            background-image: url(../img/hero/glasseffect-t@2x.avif);
        }
    }
}

@media screen and (min-width: 1440px) {
    .hero {
        background-image: url(../img/hero/glasseffect-d.avif);
        background-size: 50.5vw;
    }
    .hero-text {
        padding: 0 146px;
    }
    @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .hero {
            background-image: url(../img/hero/glasseffect-d@2x.avif);
        }
    }
}
