/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./modern-normalize.css');
@import url('./reset.css');
@import url('./about-me.css');
@import url('./benefits.css');
@import url('./covers.css');
@import url('./faq.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./projects.css');
@import url('./reviews.css');
@import url('./work-together.css');
@import url('./modal.css');


:root {
  --font-family: "Inter Tight", sans-serif;
  --background: #1c1d20;
  --cards: #242527;
  --arrow: #3b3b3b;
  --button-text: #ed3b44;
  --main-text: #fafafa;
  --color1: #3b3b3b;
  


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
